.swiper {
  width: 100%;
}

.swiper__slide {
  position: relative;
  text-align: center;
  padding: 20px 20px 60px;

  &--decaf {
    background-color: @flatwhitebg;
  }

  &--latte {
    background-color: @lavenderbg;
  }

  &--espresso {
    background-color: @espressobg;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 188px;
    padding-top: 60px;
    padding-bottom: 308px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding: 180px 80px 242px 735px;
    text-align: left;
  }
}

.swiper__image {
  display: block;
  height: auto;
  margin: 0 auto 9px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 476px;
    bottom: -196px;
    left: calc(50% - 238px);
  }

  @media (min-width: @desktop-width) {
    width: 600px;
    top: 30px;
    left: 105px;
  }
}

.swiper__new {
  display: block;
  font-family: "Montserrat Bold", "Arial Black", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: @primary;
  margin-bottom: 5px;
}

.swiper__title {
  font-family: "Montserrat Bold", "Arial Black", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: @black;
  margin: 0 0 10px 0;
  letter-spacing: 1px;

  @media (min-width: @tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.swiper__description {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @black;
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 32px;
    padding: 0 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px 0 0;
    margin-bottom: 40px;
  }
}

.swiper__price-block {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @desktop-width) {
    justify-content: left;
  }
}

.swiper__price {
  font-family: "Montserrat Bold", "Arial Black", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: @black;
  margin: 0 20px 0 0;
}

.swiper__old-price {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  margin-right: 6px;
}

.swiper__price-button {
  font-family: "Montserrat Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: @white;
  background-color: @primary;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
}
